
@{
    ViewBag.Title = "AWall";
}

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Chess", "Draw", "Home")</li>
    <li>@Html.ActionLink("Diagrams", "Create", "Home")</li>
    <li>@Html.ActionLink("Math", "Math", "Home")</li>
</ul>

<ul class="nav navbar-nav">
    @Html.ActionLink("Back to List", "AWall")
</ul>