@{
    ViewBag.Title = "About";
}
<script src="~/Scripts/JavaScript.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/joint.css" />
<link rel="stylesheet" type="text/css" href="~/Content/paper.css" />
<h1>Draw Something</h1>
<h3>


    <canvas id="myCanvas" width="400" height="400" style="border:1px solid #000000;"></canvas> 
</h3>


<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>

<script type='text/javascript'>
        window.onload=function(){
            var canvas = new fabric.Canvas('myCanvas');
            canvas.isDrawingMode = true;
            canvas.freeDrawingBrush.width = 5;
            canvas.freeDrawingBrush.color = "#ff0000";



        }
</script>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/lodash.min.js"></script>
    <script src="~/Scripts/backbone-min.js"></script>
<script src="~/Scripts/sketch.js"></script>
    <script src="~/Scripts/joint.js"></script>
    <script src="~/Scripts/paper.js"></script>


