<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://neonews.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>neonews.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NeoNews</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NeoNews</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HeadlineContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:neonews.database.windows.net,1433;Initial Catalog=HeadlineDB;User ID=neogod@neonews.database.windows.net;Password=Blust3rFresh" Name="Data Source=tcp:neonews.database.windows.net,1433;Initial Catalog=HeadlineDB;User Id=neogod@neonews.database.windows.net;Password=Blust3rFresh" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FakeNews.Models.HeadlineContext, FakeNews" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:neonews.database.windows.net,1433;Initial Catalog=HeadlineDB;User ID=neogod@neonews.database.windows.net;Password=Blust3rFresh" Name="Data Source=tcp:neonews.database.windows.net,1433;Initial Catalog=HeadlineDB;User Id=neogod@neonews.database.windows.net;Password=Blust3rFresh" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FakeNews.Models.ApplicationDbContext, FakeNews" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HeadlineDB" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:neonews.database.windows.net,1433;Initial Catalog=NeoNews;User ID=neogod@neonews.database.windows.net;Password=Blust3rFresh" Name="Data Source=tcp:neonews.database.windows.net,1433;Initial Catalog=NeoNews;User Id=neogod@neonews.database.windows.net;Password=Blust3rFresh" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\ProjectsV13;AttachDbFilename=|DataDirectory|\HeadlineDB.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HeadlineDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(localdb)\ProjectsV13;attachdbfilename=|DataDirectory|\HeadlineDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:neonews.database.windows.net,1433;Initial Catalog=HeadlineDB;User Id=neogod@neonews.database.windows.net;Password=Blust3rFresh</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HeadlineContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:neonews.database.windows.net,1433;Initial Catalog=HeadlineDB;User Id=neogod@neonews.database.windows.net;Password=Blust3rFresh</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HeadlineDB-Web.config Connection String">
      <ParameterValue>data source=tcp:neonews.database.windows.net,1433;initial catalog=NeoNews;user id=neogod@neonews.database.windows.net;password=Blust3rFresh;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>