CREATE DATABASE [myWall]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myWall', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\myWall.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myWall_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\myWall_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [myWall]
GO
USE [myWall]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [myWall] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
