CREATE DATABASE [myWall] ON  PRIMARY 
( NAME = N'myWall', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\myWall.mdf' , SIZE = 2048KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'myWall_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\myWall_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [myWall]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [myWall] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
