@model IEnumerable<myWall.Models.Dolist>


<table class="table">
    <tr>
        <th>
            Task
        </th>
        
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        
    </tr>
}

</table>
