@{
    ViewBag.Title = "Chat";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>


<div class="container">
    <div class="col-sm-8">
        <div id="chat">
            <ul id="oldmsg"></ul>
            <ul id="Chats"></ul>

        </div>

        <input type="hidden" id="UserName" />
        <textarea type="MultiLine" id="TxtMessage"></textarea>
        <input type="button" id="BtnSend" value="Send" />

    </div>
    <div class="col-sm-4">
        <ul id="results"></ul>
    </div>
</div>



@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/Hubs"></script>

    <script>
                $(function () {

                    var chat = $.connection.chatHub;

                    chat.client.connected = function (userName, messages) {

<<<<<<< HEAD

                    chat.client.connected = function (userName, messages) {
                   // chat.client.connected = function (userName) {
                        var url = window.location.href;
                       // var messages = chat.server.GetMessageCache(url);

                        for (i = 0; i < messages.length; i++) {
                            $("#oldmsg").append(messages[i].userName + ": " + messages[i].Message + "</br>");
                        }
                        $("#oldmsg").append( "<font color= 'red' >" + "Welcome " + "<strong>" + userName + "</strong>" + " to the most fantastic real time chat" + "</font>" + "</br>");
=======
                        var url = window.location.href;
                        //var messages = chat.server.getMessageCache(url);

                        //for (i = 0; i < 10; i++) {
                        //    $("#oldmsg").append(messages[i].userName + ": " + messages[i].Message + "</br>");
                        //}
                        //$("#oldmsg").append( "<font color= 'red' >" + "Welcome " + "<strong>" + userName + "</strong>" + " to the most fantastic real time chat" + "</font>" + "</br>");
>>>>>>> 52d28c80c64b7cbdbc2a9fd029dcc2f5570d36ee
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    };

                    chat.client.NewMessage = function (userName, msg) {
                        $('#Chats').append('<li><strong>' + htmlEncode(userName)
                            + '</strong>: ' + htmlEncode(msg) + '</li>');
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
<<<<<<< HEAD
=======

>>>>>>> 52d28c80c64b7cbdbc2a9fd029dcc2f5570d36ee
                    };

                    chat.client.AddChatMessage = function (userName, msg) {
                        $('#Chats').append('<li><strong>' + htmlEncode(userName)
                            + '</strong>: ' + htmlEncode(msg) + '</li>');
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
<<<<<<< HEAD
=======

>>>>>>> 52d28c80c64b7cbdbc2a9fd029dcc2f5570d36ee
                    }

                    registerClientMethods(chat)

                    $.connection.hub.start().done(function () {
                        registerEvents(chat)
                        var room = window.location.href;
                        chat.server.joinRoom(room);
                    });

                });


                function registerEvents(chat) {

                    $('#BtnSend').click(function () {
                        var room = window.location.href
                        chat.server.sendMessageToGroup(room,$('#UserName').val(), $('#TxtMessage').val());
                        $('#TxtMessage').val('').focus();
                    });

                }

                function registerClientMethods(chat) {
                    // Calls when user successfully logged in
                    chat.server.connected = function (userName, allUsers, messages) {

                        // Add All Users
                        for (i = 0; i < allUsers.length; i++) {
                            AddUser(chat, allUsers[i].UserName);
                        }

                        // Add Existing Messages
                        for (i = 0; i < messages.length; i++) {
                            AddMessage(messages[i].UserName, messages[i].Message);
                        }

                    }
                }


                function htmlEncode(value) {
                    var encodedValue = $('<div />').text(value).html();
                    return encodedValue;
                }


    </script>
}





