@{
    ViewBag.Title = "Contact Us";
}

<style>

    body {
    background: url(/Content/images/messageInAbottle.PNG) no-repeat center center;
    
    }

</style>

<body>
    <div class="container-fluid">
        <div class="row waa">
            <div class="col-lg-12">
                <h2>@ViewBag.Title.</h2>
                <p>
                    Here at engOrg we are more than willing to answer any questions you may have and provide support on any services provided by us with myWall.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 waa">
                <h3>Address</h3>
                <address>
                    345 Monmouth Ave, N.<br />
                    Monmouth, OR 97361<br />
                    <abbr title="Phone">P:</abbr>
                    503-838-8000 | 1-877-877-1593
                </address>
            </div>
            <div class="col-lg-6 waa">
                <h3>Contact Information</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Position
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Phone #
                            </th>
                            <th>
                                E-mail
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td>
                                Software Developer
                            </td>
                            <td>
                                Ahmed Almutairi
                            </td>
                            <td>
                                971-701-7299
                            </td>
                            <td>
                                aalmutairi15@mail.wou.edu
                            </td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td>
                                Software Developer
                            </td>
                            <td>
                                Rob Balsley
                            </td>
                            <td>
                                541-377-2004
                            </td>
                            <td>
                                rbalsley10@mail.wou.edu
                            </td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td>
                                Software Developer
                            </td>
                            <td>
                                Whitney Meulink
                            </td>
                            <td>
                                541-377-2004
                            </td>
                            <td>
                                wmeulink15@mail.wou.edu
                            </td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td>
                                Software Developer
                            </td>
                            <td>
                                Peter Wallace
                            </td>
                            <td>
                                971-240-8150
                            </td>
                            <td>
                                pwallace12@mail.wou.edu
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>