@using PagedList;
@using PagedList.Mvc;
@model IPagedList<myWall.Models.Wall>

@{
    ViewBag.Title = "Home Page";
}


<style>
    .buttonn {
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 300px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

        .buttonn span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .buttonn span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .buttonn:hover span {
            padding-right: 25px;
        }

            .buttonn:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>


<body class="inx">




    @Html.ActionLink("Create New Wall", "CreateWall", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Start Chatting", "Chat", null, new { @class = "btn btn-primary" })


    <br />
    <br />
    <br />
    <div class="col-md-6">
        <div class="waa">
            <h3>Latest Wall:</h3>
            @foreach (var item in Model)
            {

                @Html.RouteLink(item.Name, "Wall", new { action = "Wall", id = item.Id }, new { @class = "buttonn" }) <br />

            }
            
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


        </div>

    </div>
    <div class="col-md-6">
        <div class="sear">
            <h1>Comming soon</h1>
            <h2 class="buttonn">Search for a wall & Users</h2>
        </div>
    </div>


    
    <br />
    <br />
    <br />
    

    

</body>