

@{
    ViewBag.Title = "Library";
}


<meta charset="utf-8">
<title>Friendly Drawing</title>

<script src="~/Scripts/atrament.js"></script>
<style>
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    form {
        z-index: 3;
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        color: white;
    }

        form * {
        }
</style>

<form>
    <div class="lib">
        <h1 style="color: orangered">E-Library</h1>
        @{
            ViewBag.Title = "Files";
            var Files = (ViewBag.Files as string[]);

            if (Files != null && Files.Any())
            {
                foreach (var file in Files)
                {
                    <br />
                    @Html.ActionLink(file, "DownloadFile", new { fileName = file })
                    <br />

                }
            }
            else
            {
                <label>No File(s) to Download</label>
            }

            
            
                

            }

    