<meta charset="utf-8">
<title>Friendly Drawing</title>

<script src="~/Scripts/atrament.js"></script>


<form>
    <button id="clear" onclick="event.preventDefault(); atrament.clear();">clear</button><br>
    <label>Thickness</label><br>
    <input type="range" min="1" max="40" oninput="atrament.weight = parseFloat(event.target.value);" value="2" step="0.1" autocomplete="off" /><br>
    <label>Smoothing</label><br>
    <input type="checkbox" onchange="atrament.smoothing = event.target.checked;" checked autocomplete="off"><br>
    <label>Adaptive stroke</label><br>
    <input type="checkbox" onchange="atrament.adaptiveStroke = event.target.checked;" checked autocomplete="off"><br>
    <label>Mode</label>
    <select onchange="atrament.mode = event.target.value;">
        <option value="draw" default>Draw</option>
        <option value="fill" default>Fill</option>
        <option value="erase" default>Erase</option>
    </select><br>
    <label>Colour</label>
    <input type="color" onchange="atrament.color = event.target.value;" value="#000000" autocomplete="off"><br>
    <label>Opacity</label><br>
    <input type="range" min="0" max="1" onchange="atrament.opacity = parseFloat(event.target.value);" value="1" step="0.05" autocomplete="off">

    <a href="#" class="button" id="btn-download" download="my-file-name.png">Download</a>
    <label>Image File:</label><br />
    <input type="file" id="imageLoader" name="imageLoader" />
    <canvas id="imageCanvas"></canvas>

</form>

   

<script>
    var button = document.getElementById('btn-download');
    button.addEventListener('click', function (e) {
        var dataURL = canvas.toDataURL('image/png');
        button.href = dataURL;
    })
    var canvas = document.getElementById('imageCanvas');
		var atrament = atrament(canvas, window.innerWidth, window.innerHeight);
		var clearButton = document.getElementById('clear');
		canvas.addEventListener('dirty', function(e) {
		    clearButton.style.display = atrament.dirty ? 'inline-block' : 'none';

		});

		var imageLoader = document.getElementById('imageLoader');
		imageLoader.addEventListener('change', handleImage, false);
		var canvas = document.getElementById('imageCanvas');
		var ctx = canvas.getContext('2d');


		function handleImage(e) {
		    var reader = new FileReader();
		    reader.onload = function (event) {
		        var img = new Image();
		        img.onload = function () {
		            canvas.width = img.width;
		            canvas.height = img.height;
		            ctx.drawImage(img, 0, 0);
		        }
		        img.src = event.target.result;
		    }
		    reader.readAsDataURL(e.target.files[0]);
		}
</script>

