
@{
    ViewBag.Title = "Submit";
}

<select name="Headlines">
    <option value="Sports">Sports</option>
    <option value="Politics">Politics</option>
    <option value="Funny">Funny</option>
    <option value="creative">Creative Learning</option>
</select>


