@model IEnumerable<FakeNews.Models.Headline>

@{
    ViewBag.Title = "Tiltle";
}

<h2>Tiltle</h2>


<table class="table">
    

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        
        
    </tr>
}

</table>
