@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>myWall</h1>
    <h3>Welcome to myWall website. The web where you can create your own wall, share what you want, and calloborating with others</h3>

</div>



</div>