


<div class="lib">
    <h1>E-Library</h1>
@{
    ViewBag.Title = "Files";
    var Files = (ViewBag.Files as string[]);

    if (Files != null && Files.Any())
    {
        foreach (var file in Files)
        {
            <br />
            @Html.ActionLink(file, "DownloadFile", new { fileName = file })
            <br />

        }
    }
    else
    {
        <label>No File(s) to Download</label>
    }

    <p id="lib">
        @Html.ActionLink("Go back to my wall", "Wall", null, new { @class = "btn btn-primary" })
    </p>

}
</div>


