@model IEnumerable<myWall.Models.Wall>

@{
    ViewBag.Title = "UserProfile";
}

<h2>UserProfile</h2>

<h2>Walls:</h2>
<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.RouteLink(item.Name, "Wall", new { action = "Wall", id = item.Id }) <br />
        </td>
        
    </tr>
}

</table>
