@model IEnumerable<myWall.Models.Wall> 

@{
    ViewBag.Title = "Wall";
}

<h2>Wall</h2>

<div>
    <h4>Wall</h4>
    <hr />
</div>   


<body>

    <form id="TodoForm">
        <input id="TodoInput" />
        <button type="button" onclick="TodoList()">Add a List</button>
    </form>
    <ul id="TodoList">

        
    </ul>

    <Script src="~/Scripts/myWall.js"></Script>

@foreach (var item in Model)
{

@Html.ActionLink("Delete", "Delete", new { id = item.Id })

}

</body>